In [2]:
# Importing dependencies 
import pandas as pd
import numpy as np
import scipy.stats as st
import os

# Importing  both time traveled to work csvs and concatonating into a sigle dataframe
time_traveled_dir = ['Travel Time to Work', 'Travel Time County and State Level']
for dir in time_traveled_dir:

    path = f'Resources/{dir}'
    files = os.listdir(path)

    travel_df = pd.DataFrame()
    cs_travel_df = pd.DataFrame()

    for file in files:
        if dir == 'Travel Time to Work':
            temp1 = pd.read_csv(path + '\\' + file, skiprows=[1])
            #temp1 = temp1[['B08303_001E', 'B08303_002E', 'B08303_003E', 'B08303_004E', 'B08303_005E', 'B08303_006E', 'B08303_007E', \
               # 'B08303_008E', 'B08303_009E', 'B08303_010E', 'B08303_011E', 'B08303_012E', 'B08303_013E', 'NAME']]
            # Renaming columns 
            #temp1.columns = ['Total Estimate', 'Estimate Less than 5 min', 'Estimate 5 to 9 min', 'Estimate 10 to 14 min', \
               # 'Estimate 15 to 19 min', 'Estimate 20 to 24 min', 'Estimate 25 to 29 min', 'Estimate 30 to 34 min', 'Estimate 35 to 39 min', \
              #  'Estimate 40 to 44 min', 'Estimate 45 to 59 min', 'Estimate 60 to 89 min', 'Estimate 90 or more min', 'Name']
            # Adding a column for respective years
           # temp1['Year'] = file.split(' ')[0]
            # Reordering columns
            #temp1 = temp1[['Year', 'Name', 'Total Estimate', 'Estimate Less than 5 min', 'Estimate 5 to 9 min', 'Estimate 10 to 14 min', \
               # 'Estimate 15 to 19 min', 'Estimate 20 to 24 min', 'Estimate 25 to 29 min', 'Estimate 30 to 34 min', 'Estimate 35 to 39 min', \
              #  'Estimate 40 to 44 min', 'Estimate 45 to 59 min', 'Estimate 60 to 89 min', 'Estimate 90 or more min']]
            # Appending each new temporary dataframe into one
            travel_df = travel_df.append(temp1)
        elif dir == 'Travel Time County and State Level':
            temp = pd.read_csv(path + '\\' + file, skiprows=[1])
            temp = temp[['B08131_001E', 'B08131_002E', 'B08131_003E', 'B08131_004E', 'B08131_005E', 'NAME']]
            # Renaming columns 
            temp.columns = ['Estiamte Aggregate Travel Time (min)', 'Worked in State of Residence Estimate Aggregate (min)', \
                'Worked in County of Residence Estimate Aggregate (min)', 'Worked Outside County of Residence Estimate Aggregate (min)', \
                'Worked Outside State of Residence Estimate Aggregate (min)', 'Name']
            # Adding a column for respective years
            temp['Year'] = file.split(' ')[0]
            # Reordering columns
            temp = temp[['Year', 'Name', 'Estiamte Aggregate Travel Time (min)', 'Worked in State of Residence Estimate Aggregate (min)', \
                'Worked in County of Residence Estimate Aggregate (min)', 'Worked Outside County of Residence Estimate Aggregate (min)', \
                'Worked Outside State of Residence Estimate Aggregate (min)']]
            # Appending each new temporary dataframe into one
            cs_travel_df = cs_travel_df.append(temp)

# Importing HPI csv and making into a dataframe
hpi_quarterly = pd.read_csv('Resources/HPI/HPI Quarterly State Level.csv')
# Removing Warning column
hpi_quarterly = hpi_quarterly[['state', 'yr', 'qtr', 'index_nsa', 'index_sa']]
# Renaming columns
hpi_quarterly.columns = ['State', 'Year', 'Quarter', 'NSA Index', 'SA Index']
hpi_quarterly_df = pd.DataFrame(hpi_quarterly)

In [3]:
time_traveled_dir = ['Travel Time to Work']
for dir in time_traveled_dir:

    path = f'Resources/{dir}'
    files = os.listdir(path)

    travel_df = pd.DataFrame()

    for file in files:
        temp1 = pd.read_csv(path + '\\' + file, skiprows=[1])
        temp1 = temp1[['B08303_001E', 'B08303_002E', 'B08303_003E', 'B08303_004E', 'B08303_005E', 'B08303_006E', 'B08303_007E', \
            'B08303_008E', 'B08303_009E', 'B08303_010E', 'B08303_011E', 'B08303_012E', 'B08303_013E', 'NAME']]
        #Renaming columns 
        temp1.columns = ['Total Estimate', 'Estimate Less than 5 min', 'Estimate 5 to 9 min', 'Estimate 10 to 14 min', \
            'Estimate 15 to 19 min', 'Estimate 20 to 24 min', 'Estimate 25 to 29 min', 'Estimate 30 to 34 min', 'Estimate 35 to 39 min', \
            'Estimate 40 to 44 min', 'Estimate 45 to 59 min', 'Estimate 60 to 89 min', 'Estimate 90 or more min', 'Name']
        # Adding a column for respective years
        temp1['Year'] = file.split(' ')[0]
        # reordering columns
        temp1 = temp1[['Year', 'Name', 'Total Estimate', 'Estimate Less than 5 min', 'Estimate 5 to 9 min', 'Estimate 10 to 14 min', \
            'Estimate 15 to 19 min', 'Estimate 20 to 24 min', 'Estimate 25 to 29 min', 'Estimate 30 to 34 min', 'Estimate 35 to 39 min', \
            'Estimate 40 to 44 min', 'Estimate 45 to 59 min', 'Estimate 60 to 89 min', 'Estimate 90 or more min']]
        # Appending each new temporary dataframe into one
        travel_df = travel_df.append(temp1)
        # elif dir == 'Travel Time County and State Level':
        #     temp = pd.read_csv(path + '\\' + file, skiprows=[1])
        #     temp = temp[['B08131_001E', 'B08131_002E', 'B08131_003E', 'B08131_004E', 'B08131_005E', 'NAME']]
        #     # Renaming columns 
        #     temp.columns = ['Estiamte Aggregate Travel Time (min)', 'Worked in State of Residence Estimate Aggregate (min)', \
        #         'Worked in County of Residence Estimate Aggregate (min)', 'Worked Outside County of Residence Estimate Aggregate (min)', \
        #         'Worked Outside State of Residence Estimate Aggregate (min)', 'Name']
        #     # Adding a column for respective years
        #     temp['Year'] = file.split(' ')[0]
        #     # Reordering columns
        #     temp = temp[['Year', 'Name', 'Estiamte Aggregate Travel Time (min)', 'Worked in State of Residence Estimate Aggregate (min)', \
        #         'Worked in County of Residence Estimate Aggregate (min)', 'Worked Outside County of Residence Estimate Aggregate (min)', \
        #         'Worked Outside State of Residence Estimate Aggregate (min)']]
        #     # Appending each new temporary dataframe into one
        #     cs_travel_df = cs_travel_df.append(temp)
        travel_df

In [4]:
travel_df

,Year,Name,Total Estimate,Estimate Less than 5 min,Estimate 5 to 9 min,Estimate 10 to 14 min,Estimate 15 to 19 min,Estimate 20 to 24 min,Estimate 25 to 29 min,Estimate 30 to 34 min,Estimate 35 to 39 min,Estimate 40 to 44 min,Estimate 45 to 59 min,Estimate 60 to 89 min,Estimate 90 or more min
0,2010,Alabama,1895987,59051,189676,274724,330572,301885,117283,264594,53632,56160,135707,76275,36428
1,2010,Alaska,324619,30199,56593,58333,59252,44082,16062,24726,5249,4035,12229,8194,5665
2,2010,Arizona,2470950,66596,243712,346279,385741,376165,166696,390622,71040,104917,179809,99719,39654
3,2010,Arkansas,1189709,60584,171728,203607,207225,163084,73975,136006,30393,28008,60070,35293,19736
4,2010,California,15097170,346580,1331209,2102009,2350056,2255417,851250,2224075,385428,590185,1188689,1019773,452499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,2019,Washington,3481251,88373,307571,405405,505883,474369,236353,478642,117565,166593,329245,245917,125335
48,2019,West Virginia,702086,26662,80149,106219,109586,95673,47189,78676,17829,21563,49325,41812,27403
49,2019,Wisconsin,2808648,118333,365548,448298,469881,412629,198922,309935,85529,94505,161429,93629,50010
50,2019,Wyoming,263524,20543,64799,53292,46264,22214,6119,14962,3071,4605,10513,9821,7321
51,2019,Puerto Rico,997979,21760,57059,110456,148157,150296,55001,161111,25512,52893,85480,92401,37853

In [ ]:
time_traveled_dir = ['Travel Time to Work', 'Travel Time County and State Level']
for dir in time_traveled_dir:

    path = f'Resources/{dir}'
    files = os.listdir(path)

    travel_df = pd.DataFrame()
    cs_travel_df = pd.DataFrame()

    for file in files:
        if dir == 'Travel Time to Work':
            temp1 = pd.read_csv(path + '\\' + file, skiprows=[1])
            #temp1 = temp1[['B08303_001E', 'B08303_002E', 'B08303_003E', 'B08303_004E', 'B08303_005E', 'B08303_006E', 'B08303_007E', \
               # 'B08303_008E', 'B08303_009E', 'B08303_010E', 'B08303_011E', 'B08303_012E', 'B08303_013E', 'NAME']]
            # Renaming columns 
            #temp1.columns = ['Total Estimate', 'Estimate Less than 5 min', 'Estimate 5 to 9 min', 'Estimate 10 to 14 min', \
               # 'Estimate 15 to 19 min', 'Estimate 20 to 24 min', 'Estimate 25 to 29 min', 'Estimate 30 to 34 min', 'Estimate 35 to 39 min', \
              #  'Estimate 40 to 44 min', 'Estimate 45 to 59 min', 'Estimate 60 to 89 min', 'Estimate 90 or more min', 'Name']
            # Adding a column for respective years
           # temp1['Year'] = file.split(' ')[0]
            # Reordering columns
            #temp1 = temp1[['Year', 'Name', 'Total Estimate', 'Estimate Less than 5 min', 'Estimate 5 to 9 min', 'Estimate 10 to 14 min', \
               # 'Estimate 15 to 19 min', 'Estimate 20 to 24 min', 'Estimate 25 to 29 min', 'Estimate 30 to 34 min', 'Estimate 35 to 39 min', \
              #  'Estimate 40 to 44 min', 'Estimate 45 to 59 min', 'Estimate 60 to 89 min', 'Estimate 90 or more min']]
            # Appending each new temporary dataframe into one
            travel_df = travel_df.append(temp1)
        elif dir == 'Travel Time County and State Level':
            temp = pd.read_csv(path + '\\' + file, skiprows=[1])
            temp = temp[['B08131_001E', 'B08131_002E', 'B08131_003E', 'B08131_004E', 'B08131_005E', 'NAME']]
            # Renaming columns 
            temp.columns = ['Estiamte Aggregate Travel Time (min)', 'Worked in State of Residence Estimate Aggregate (min)', \
                'Worked in County of Residence Estimate Aggregate (min)', 'Worked Outside County of Residence Estimate Aggregate (min)', \
                'Worked Outside State of Residence Estimate Aggregate (min)', 'Name']
            # Adding a column for respective years
            temp['Year'] = file.split(' ')[0]
            # Reordering columns
            temp = temp[['Year', 'Name', 'Estiamte Aggregate Travel Time (min)', 'Worked in State of Residence Estimate Aggregate (min)', \
                'Worked in County of Residence Estimate Aggregate (min)', 'Worked Outside County of Residence Estimate Aggregate (min)', \
                'Worked Outside State of Residence Estimate Aggregate (min)']]
            # Appending each new temporary dataframe into one
            cs_travel_df = cs_travel_df.append(temp)

In [14]:
travel_df

Empty DataFrame
Columns: []
Index: []

# HPI Summary

# Time Traveled to Work Summary