In [1]:
# Importing dependencies 
import pandas as pd
import numpy as np
import scipy.stats as st
import os

# Importing time traveled to work (county and state) csvs and concatonating into a sigle dataframe
path1 = 'Resources/Travel Time to Work'
files1 = os.listdir(path1)
travel_df = pd.DataFrame()
for file in files1:
    temp1 = pd.read_csv(path1 + '\\' + file, skiprows=[1])
    temp1 = temp1[['B08303_001E', 'B08303_002E', 'B08303_003E', 'B08303_004E', 'B08303_005E', 'B08303_006E', 'B08303_007E', \
        'B08303_008E', 'B08303_009E', 'B08303_010E', 'B08303_011E', 'B08303_012E', 'B08303_013E', 'NAME']]
    #Renaming columns 
    temp1.columns = ['Total Estimate', 'Estimate Less than 5 min', 'Estimate 5 to 9 min', 'Estimate 10 to 14 min', \
        'Estimate 15 to 19 min', 'Estimate 20 to 24 min', 'Estimate 25 to 29 min', 'Estimate 30 to 34 min', 'Estimate 35 to 39 min', \
        'Estimate 40 to 44 min', 'Estimate 45 to 59 min', 'Estimate 60 to 89 min', 'Estimate 90 or more min', 'State']
    # Adding a column for respective years
    temp1['Year'] = file.split(' ')[0]
    # reordering columns
    temp1 = temp1[['Year', 'State', 'Total Estimate', 'Estimate Less than 5 min', 'Estimate 5 to 9 min', 'Estimate 10 to 14 min', \
        'Estimate 15 to 19 min', 'Estimate 20 to 24 min', 'Estimate 25 to 29 min', 'Estimate 30 to 34 min', 'Estimate 35 to 39 min', \
        'Estimate 40 to 44 min', 'Estimate 45 to 59 min', 'Estimate 60 to 89 min', 'Estimate 90 or more min']]
    # Removing Puerto Rico
    temp1 = temp1[temp1['State'].str.contains('Puerto Rico')==False]
    # Appending each new temporary dataframe into one
    travel_df = travel_df.append(temp1)

# Importing time traveled to work (county and state) csvs and concatonating into a sigle dataframe
path2 = 'Resources/Travel Time County and State Level'
files2 = os.listdir(path2)
cs_travel_df = pd.DataFrame()
for file in files2:
    temp = pd.read_csv(path2 + '\\' + file, skiprows=[1])
    temp = temp[['B08131_001E', 'B08131_002E', 'B08131_003E', 'B08131_004E', 'B08131_005E', 'NAME']]
    # Renaming columns 
    temp.columns = ['Estimate Aggregate Travel Time (min)', 'Worked in State of Residence Estimate Aggregate (min)', \
        'Worked in County of Residence Estimate Aggregate (min)', 'Worked Outside County of Residence Estimate Aggregate (min)', \
        'Worked Outside State of Residence Estimate Aggregate (min)', 'State']
    # Adding a column for respective years
    temp['Year'] = file.split(' ')[0]
    # Reordering columns
    temp = temp[['Year', 'State', 'Estimate Aggregate Travel Time (min)', 'Worked in State of Residence Estimate Aggregate (min)', \
        'Worked in County of Residence Estimate Aggregate (min)', 'Worked Outside County of Residence Estimate Aggregate (min)', \
        'Worked Outside State of Residence Estimate Aggregate (min)']]
    # Removing Puerto Rico
    temp = temp[temp['State'].str.contains('Puerto Rico')==False]
    # Appending each new temporary dataframe into one
    cs_travel_df = cs_travel_df.append(temp)

# Importing HPI csv and making into a dataframe
hpi_quarterly = pd.read_csv('Resources/HPI/HPI Quarterly State Level.csv')
# Removing Warning column
hpi_quarterly = hpi_quarterly[['state', 'yr', 'qtr', 'index_nsa', 'index_sa']]
# Renaming columns
hpi_quarterly.columns = ['State', 'Year', 'Quarter', 'NSA Index', 'SA Index']
# Gropuby to get mean of SA and NSA index for each state and year
hpi_yearly = hpi_quarterly.groupby(['State', 'Year'], as_index=False).agg({'NSA Index': 'mean', 'SA Index': 'mean'})
# Renaming columns again 
hpi_yearly.columns = ['State', 'Year', 'Yearly Average Index (NSA)', 'Yearly Average Index (SA)']
# Only keeping years 2010-2019
hpi_yearly = hpi_yearly.loc[(hpi_yearly['Year'].astype(int) >= 2010) & (hpi_yearly['Year'].astype(int) <= 2019)]

In [2]:
travel_df

,Year,State,Total Estimate,Estimate Less than 5 min,Estimate 5 to 9 min,Estimate 10 to 14 min,Estimate 15 to 19 min,Estimate 20 to 24 min,Estimate 25 to 29 min,Estimate 30 to 34 min,Estimate 35 to 39 min,Estimate 40 to 44 min,Estimate 45 to 59 min,Estimate 60 to 89 min,Estimate 90 or more min
0,2010,Alabama,1895987,59051,189676,274724,330572,301885,117283,264594,53632,56160,135707,76275,36428
1,2010,Alaska,324619,30199,56593,58333,59252,44082,16062,24726,5249,4035,12229,8194,5665
2,2010,Arizona,2470950,66596,243712,346279,385741,376165,166696,390622,71040,104917,179809,99719,39654
3,2010,Arkansas,1189709,60584,171728,203607,207225,163084,73975,136006,30393,28008,60070,35293,19736
4,2010,California,15097170,346580,1331209,2102009,2350056,2255417,851250,2224075,385428,590185,1188689,1019773,452499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,2019,Virginia,4044679,81541,318095,464607,598280,570837,284185,584991,141495,171602,389094,301947,138005
47,2019,Washington,3481251,88373,307571,405405,505883,474369,236353,478642,117565,166593,329245,245917,125335
48,2019,West Virginia,702086,26662,80149,106219,109586,95673,47189,78676,17829,21563,49325,41812,27403
49,2019,Wisconsin,2808648,118333,365548,448298,469881,412629,198922,309935,85529,94505,161429,93629,50010
50,2019,Wyoming,263524,20543,64799,53292,46264,22214,6119,14962,3071,4605,10513,9821,7321

In [3]:
us_state_to_abbrev = {"Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR", "California": "CA", "Colorado": "CO", \
    "Connecticut": "CT", "Delaware": "DE", "Florida": "FL", "Georgia": "GA", "Hawaii": "HI", "Idaho": "ID", "Illinois": "IL", \
    "Indiana": "IN", "Iowa": "IA", "Kansas": "KS", "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD", \
    "Massachusetts": "MA", "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS", "Missouri": "MO", "Montana": "MT", "Nebraska": "NE", \
    "Nevada": "NV", "New Hampshire": "NH", "New Jersey": "NJ", "New Mexico": "NM", "New York": "NY", "North Carolina": "NC", "North Dakota": "ND", \
    "Ohio": "OH", "Oklahoma": "OK", "Oregon": "OR", "Pennsylvania": "PA", "Rhode Island": "RI", "South Carolina": "SC", "South Dakota": "SD", \
    "Tennessee": "TN", "Texas": "TX", "Utah": "UT", "Vermont": "VT", "Virginia": "VA", "Washington": "WA", "West Virginia": "WV", \
    "Wisconsin": "WI", "Wyoming": "WY", "District of Columbia": "DC"
}

In [4]:
# Changing state names to abbreviations
travel_df = travel_df.replace({'State': us_state_to_abbrev})
cs_travel_df = cs_travel_df.replace({'State': us_state_to_abbrev})

# Merging HPI and travel time dataframes
travels = pd.merge(travel_df, cs_travel_df, on=['State', 'Year'], how='left')
# Changing HPI year column back into strings to maintain compatibility 
hpi_yearly['Year'] = hpi_yearly['Year'].astype(str)
travel_hpi = pd.merge(travels, hpi_yearly, on=['State', 'Year'], how='left')

# Saving merged dataframe in Resources folder
travel_hpi.to_csv('Resources/2010 to 2019 HPI and Travel Time to Work.csv')

In [5]:
travels

,Year,State,Total Estimate,Estimate Less than 5 min,Estimate 5 to 9 min,Estimate 10 to 14 min,Estimate 15 to 19 min,Estimate 20 to 24 min,Estimate 25 to 29 min,Estimate 30 to 34 min,Estimate 35 to 39 min,Estimate 40 to 44 min,Estimate 45 to 59 min,Estimate 60 to 89 min,Estimate 90 or more min,Estiamte Aggregate Travel Time (min),Worked in State of Residence Estimate Aggregate (min),Worked in County of Residence Estimate Aggregate (min),Worked Outside County of Residence Estimate Aggregate (min),Worked Outside State of Residence Estimate Aggregate (min)
0,2010,AL,1895987,59051,189676,274724,330572,301885,117283,264594,53632,56160,135707,76275,36428,45734230,42487215,25986650,16500565,3247015
1,2010,AK,324619,30199,56593,58333,59252,44082,16062,24726,5249,4035,12229,8194,5665,6100595,6069265,4973180,1096085,31325
2,2010,AZ,2470950,66596,243712,346279,385741,376165,166696,390622,71040,104917,179809,99719,39654,60533900,58957890,53765435,5192455,1576015
3,2010,AR,1189709,60584,171728,203607,207225,163084,73975,136006,30393,28008,60070,35293,19736,25178550,23519785,14298840,9220950,1658765
4,2010,CA,15097170,346580,1331209,2102009,2350056,2255417,851250,2224075,385428,590185,1188689,1019773,452499,405422285,402553330,285220410,117332920,2868955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,2019,VA,4044679,81541,318095,464607,598280,570837,284185,584991,141495,171602,389094,301947,138005,117533485,100009500,37119195,62890300,17523985
506,2019,WA,3481251,88373,307571,405405,505883,474369,236353,478642,117565,166593,329245,245917,125335,100088410,95647125,68366485,27280640,4441285
507,2019,WV,702086,26662,80149,106219,109586,95673,47189,78676,17829,21563,49325,41812,27403,18501245,14119905,8387660,5732245,4381340
508,2019,WI,2808648,118333,365548,448298,469881,412629,198922,309935,85529,94505,161429,93629,50010,63667210,59039905,34763360,24276545,4627305
509,2019,WY,263524,20543,64799,53292,46264,22214,6119,14962,3071,4605,10513,9821,7321,5037795,4635125,3821070,814055,402670

In [6]:
travel_hpi

,Year,State,Total Estimate,Estimate Less than 5 min,Estimate 5 to 9 min,Estimate 10 to 14 min,Estimate 15 to 19 min,Estimate 20 to 24 min,Estimate 25 to 29 min,Estimate 30 to 34 min,...,Estimate 45 to 59 min,Estimate 60 to 89 min,Estimate 90 or more min,Estiamte Aggregate Travel Time (min),Worked in State of Residence Estimate Aggregate (min),Worked in County of Residence Estimate Aggregate (min),Worked Outside County of Residence Estimate Aggregate (min),Worked Outside State of Residence Estimate Aggregate (min),Yearly Average Index (NSA),Yearly Average Index (SA)
0,2010,AL,1895987,59051,189676,274724,330572,301885,117283,264594,...,135707,76275,36428,45734230,42487215,25986650,16500565,3247015,180.7875,180.1300
1,2010,AK,324619,30199,56593,58333,59252,44082,16062,24726,...,12229,8194,5665,6100595,6069265,4973180,1096085,31325,219.9000,218.8725
2,2010,AZ,2470950,66596,243712,346279,385741,376165,166696,390622,...,179809,99719,39654,60533900,58957890,53765435,5192455,1576015,183.1500,182.7550
3,2010,AR,1189709,60584,171728,203607,207225,163084,73975,136006,...,60070,35293,19736,25178550,23519785,14298840,9220950,1658765,178.3125,178.0825
4,2010,CA,15097170,346580,1331209,2102009,2350056,2255417,851250,2224075,...,1188689,1019773,452499,405422285,402553330,285220410,117332920,2868955,164.7850,163.9675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,2019,VA,4044679,81541,318095,464607,598280,570837,284185,584991,...,389094,301947,138005,117533485,100009500,37119195,62890300,17523985,265.6275,264.4825
506,2019,WA,3481251,88373,307571,405405,505883,474369,236353,478642,...,329245,245917,125335,100088410,95647125,68366485,27280640,4441285,381.1050,378.4850
507,2019,WV,702086,26662,80149,106219,109586,95673,47189,78676,...,49325,41812,27403,18501245,14119905,8387660,5732245,4381340,221.2475,220.6050
508,2019,WI,2808648,118333,365548,448298,469881,412629,198922,309935,...,161429,93629,50010,63667210,59039905,34763360,24276545,4627305,271.7300,270.4950
509,2019,WY,263524,20543,64799,53292,46264,22214,6119,14962,...,10513,9821,7321,5037795,4635125,3821070,814055,402670,356.6025,353.7250

# HPI Summary

In [11]:
df_2010_2019 = travel_hpi.loc[(travel_hpi['Year'] == '2010') | (travel_hpi['Year'] == '2019')]
state_groupby = df_2010_2019.groupby('State')
# Calculating change in HPI (both NSA and SA) over time (2010 to 2019) for each state
states = df_2010_2019['State'].unique()

change_nsa = state_groupby['Yearly Average Index (NSA)'].diff().dropna()
change_sa = state_groupby['Yearly Average Index (SA)'].diff().dropna()
pct_change_nsa = state_groupby['Yearly Average Index (NSA)'].pct_change().dropna()
pct_change_sa = state_groupby['Yearly Average Index (SA)'].pct_change().dropna()
hpi_change = pd.DataFrame({'State': states, 'Change in NSA Index': change_nsa, 'Percent Change in NSA Index': pct_change_nsa, \
    'Change in SA Index': change_sa, 'Percent Change in SA Index': pct_change_sa})
hpi_change = hpi_change.reset_index(drop=True)
hpi_change.style.format({'Percent Change in NSA Index': '{:,.2f}%'.format, 'Percent Change in SA Index': '{:,.2f}%'.format})

# Time Traveled to Work Summary

In [15]:
# Calculating change in travel time over time (2010 to 2019) for each state
change_less5 = state_groupby['Estimate Less than 5 min'].pct_change().dropna()  
change_5to9 = state_groupby['Estimate 5 to 9 min'].pct_change().dropna()
change_10to14 = state_groupby['Estimate 10 to 14 min'].pct_change().dropna()
change_15to19 = state_groupby['Estimate 15 to 19 min'].pct_change().dropna()
change_20to24 = state_groupby['Estimate 20 to 24 min'].pct_change().dropna()
change_10to14 = state_groupby['Estimate 10 to 14 min'].pct_change().dropna()
change_25to29 = state_groupby['Estimate 25 to 29 min'].pct_change().dropna()
change_30to34 = state_groupby['Estimate 30 to 34 min'].pct_change().dropna()
change_35to39 = state_groupby['Estimate 35 to 39 min'].pct_change().dropna()
change_40to44 = state_groupby['Estimate 40 to 44 min'].pct_change().dropna()
change_45to59 = state_groupby['Estimate 45 to 59 min'].pct_change().dropna()
change_60to89 = state_groupby['Estimate 60 to 89 min'].pct_change().dropna()
change_90more = state_groupby['Estimate 90 or more min'].pct_change().dropna()

travel_time_change = pd.DataFrame({'State': states, '% Change <5 min': change_less5, '% Change 5 to 9 min': change_5to9, \
    '% Change 10 to 14 min': change_10to14, '% Change 15 to 19 min': change_15to19, '% Change 20 to 24 min': change_20to24, \
    '% Change 25 to 29 min': change_25to29, '% Change 30 to 34 min': change_30to34, '% Change 35 to 39 min': change_35to39, \
    '% Change 40 to 44 min': change_40to44, '% Change 45 to 59 min': change_45to59, '% Change 60 to 89 min': change_60to89, \
    '% Change > 89 min': change_90more})
travel_time_change = travel_time_change.reset_index(drop=True)
travel_time_change.style.format({'% Change <5 min': '{:,.2f}%'.format, '% Change 5 to 9 min': '{:,.2f}%'.format, \
    '% Change 10 to 14 min': '{:,.2f}%'.format, '% Change 15 to 19 min': '{:,.2f}%'.format, '% Change 20 to 24 min': '{:,.2f}%'.format, \
    '% Change 25 to 29 min': '{:,.2f}%'.format, '% Change 30 to 34 min': '{:,.2f}%'.format, '% Change 35 to 39 min': '{:,.2f}%'.format, \
    '% Change 40 to 44 min': '{:,.2f}%'.format, '% Change 45 to 59 min': '{:,.2f}%'.format, '% Change 60 to 89 min': '{:,.2f}%'.format, \
    '% Change > 89 min': '{:,.2f}%'.format})